<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Ваші квартири</title>
</head>
<body>

<h1>Ваші квартири</h1>

<a th:href="@{/owner/new}">Додати нову</a>


<div th:each="a : ${apartments}">
    <h3 th:text="${a.title}"></h3>


    <p>Планування: <span th:text="${a.layoutType ?: 'Не вказано'}"></span></p>

    <a th:href="@{'/owner/edit/' + ${a.id}}">Редагувати</a>
    <a th:href="@{'/owner/delete/' + ${a.id}}">Видалити</a>
</div>


<p th:if="${apartments.isEmpty()}" style="color:gray;">У вас ще немає квартир.</p>

</body>
</html>
