<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Пошук квартир</title>
</head>
<body>

<h1>Пошук квартир</h1>


<div th:each="a : ${apartments}">
    <h3 th:text="${a.title}"></h3>


    <p th:if="${a.price > 1000}" style="color:green;">Комфорт-клас</p>


    <p th:unless="${a.price > 1000}" style="color:gray;">Бюджетний варіант</p>


    <p>Опис: <span th:text="${a.description ?: 'Опис відсутній'}"></span></p>


    <div th:switch="${a.layoutType}">
        <p th:case="'Studio'">Планування: Студія</p>
        <p th:case="'Loft'">Планування: Лофт</p>
        <p th:case="*">Планування: Інше</p>
    </div>

    <p><b>Адреса:</b> <span th:text="${a.address}"></span></p>
    <p><b>Ціна:</b> <span th:text="${a.price}"></span>$</p>
</div>


<p th:if="${apartments.isEmpty()}" style="color:gray;">Нічого не знайдено</p>

</body>
</html>
